.root {
    -fx-background-color: springgreen;
}
#slika_chart {
    -fx-background-color: powderblue;
}

#data {
    -fx-font-weight: bold;
}

#slika {
     -fx-background-repeat: stretch;
        -fx-background-position: center center;
}

#pane {

}